:root {
  --primary: rgb(29, 177, 15);
  --primary-dark: #16710e;
  --primary-light: rgba(57, 250, 40, 1);

  --bg: rgba(255, 255, 255, 1);
  --bg-dark: rgba(247, 247, 247, 1);
  --bg-darker: rgba(240, 240, 240, 1);
  --bg-darkest: rgba(232, 232, 232, 1);

  --tx-normal: rgba(22, 22, 24, 1);
  --tx-dimmed: rgba(171, 173, 174, 1);
  --tx-semi: rgba(134, 138, 149, 1);

  --sm-error: #F06979;
  --sm-success: ;
  --sm-warning: ;

  --swiper-theme-color: var(--primary-dark) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Axiforma", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background: var(--bg);
}

section {
  display: flex;
  justify-content: center;
}

.app_width {
  width: 1280px;
  max-width: 100%;
}